@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@media (min-width: 1200px) {
  .container {
    width: 1260px;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif !important;
}

/* Header */

a.navbar-brand {
  height: 90px;
}
nav {
  font-weight: bold;
}
.nav > li.current-menu-item > a,
.nav > li.current-menu-parent > a {
  border-color: #23bebc;
}
.nav > li > a {
  border-radius: 3px;
  border-bottom: 4px solid white;
  padding: 10px 15px !important;
}
.nav > li:nth-child(odd) > a:focus,
.nav > li:nth-child(even) > a:hover {
  border-bottom-color: #76c7a1;
  background-color: #f1f1f1;
}
.nav > li:nth-child(even) > a:focus,
.nav > li:nth-child(odd) > a:hover {
  border-bottom-color: #23bebc;
  background-color: #ededed;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #23bebc;
  outline: 0;
}
@media (min-width: 768px) {
  .navbar-right {
    margin-top: 25px;
  }
}

.navbar-brand > img {
  display: block;
  width: 280px;
  height: auto;
}

/* Custom SOW features and design */

.sow-features-list .sow-icon-container {
  font-size: 0.9em !important;
}
#what-we-do .sow-icon-fontawesome.sow-fas:hover {
  color: black !important;
}
ul.what-we-do-list {
  padding: 0px;
  list-style: none;
}
ul.what-we-do-list li {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 25px;
}

/* three column grid */

.news-archive-title {
  color: #358fae;
  text-align: center;
  margin: 90px 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.dsl-articles-three-grid .orbit-query {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.dsl-articles-three-grid .orbit-article {
  background-color: #ededed;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dsl-articles-three-grid .orbit-article:hover .orbit-thumb {
  background-color: #358ae0;
}

.dsl-articles-three-grid .orbit-article:hover .orbit-thumb img {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.dsl-articles-three-grid .orbit-thumb {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dsl-articles-three-grid .placeholder-thumb {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dsl-articles-three-grid .orbit-thumb img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3 / 2;
  display: block;
  transition: opacity 0.5s ease;
}

.dsl-articles-three-grid .orbit-article h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin: 1.4rem 1.4rem 2rem;
  text-align: left;
}

.dsl-articles-three-grid .orbit-article .meta {
  font-size: 1.4rem;
  color: #555;
  margin: 0px 1.4rem 1.4rem;
  margin-top: auto;
}

.dsl-articles-three-grid .orbit-article a.read-button {
  display: inline-flex;
  align-items: baseline;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.55rem 1.2rem;
  border-radius: 9999px;
  margin: 0 1.2rem 1.5rem;
  text-align: justify;
  font-size: 16px;
  transition: background 0.2s ease;
  width: fit-content;
}

.dsl-articles-three-grid .orbit-article a.read-button:hover {
  background-color: #5fbb49;
}

.orbit-btn-load-parent .dsl-btn-load-more {
  color: #efecdf;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 18px;
  padding: 12px 24px;
  text-align: center;
  border-radius: 50px;
  background: #000;
  border: 1px solid #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.orbit-btn-load-parent .dsl-btn-load-more:hover {
  background: #358fae;
  border-color: #358fae;
  text-decoration: none;
}

.dsl-load-more {
  margin: 60px 0;
  text-align: center;
}

/* news-category tax template */
.orbit-three-grid {
  /* this class is in parent theme and we are over-riding this here */
  grid-gap: 45px;
}

/* Single template 3*/
.single-template-3 .post-thumbnail {
  margin: 45px 0px;
  border-radius: 30px;
  overflow: hidden;
}

.single-template-3 .entry-author.author-box,
.single-template-3 .entry-summary {
  display: none;
}

.single-template-3 a.single-read-button {
  display: inline-flex;
  align-items: baseline;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.55rem 1.2rem;
  border-radius: 9999px;
  /* margin: 0 1.2rem 1.5rem; */
  text-align: justify;
  font-size: 16px;
  transition: background 0.2s ease;
  width: fit-content;
}

.single-template-3 a.single-read-button:hover {
  background-color: #5fbb49;
}
